# Bibliotecas básicas
pandas>=1.3.0
numpy>=1.20.0

# Processamento de Linguagem Natural
nltk>=3.6.0
scikit-learn>=1.0.0

# Visualização
matplotlib>=3.4.0
seaborn>=0.11.0

# Expressões regulares
regex>=2021.8.0

# Opcional: Para abordagens mais avançadas
# transformers>=4.18.0
# torch>=1.10.0
# spacy>=3.2.0

# Para manipulação de arquivos
openpyxl>=3.0.9


gensim

sentence-transformers


selenium
webdriver-manager